* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(67, 64, 64);
}

.main {
    width: 500px;
    height: 350px;
    margin: 15vh auto;
    padding-top: 25px;
}

.stopwatch {
    margin: auto;
    width: 95%;
    height: 125px;
    background-color: rgb(102, 100, 100);
    border-radius: 5px;
}

.stopwatch span {
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 75px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    background-color: rgb(102, 100, 100);
    text-align: center;
    font-size: 25px;
    width: 125px;
    height: 50px;
    margin: 10px 25px auto 25px;
    border-radius: 10px;
    transition: 1s;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(123, 121, 121);
}

.btn span {
    display: block;
    margin: 10px 5px 10px 5px;
}

